// pokemon type colors:
$normal-type: #a8a878;
$fire-type: #f08030;
$fighting-type: #c03028;
$water-type: #6890f0;
$flying-type: #a890f0;
$grass-type: #78c850;
$poison-type: #a040a0;
$electric-type: #f8d030;
$ground-type: #e0c068;
$psychic-type: #f85888;
$rock-type: #b8a038;
$ice-type: #98d8d8;
$bug-type: #a8b820;
$dragon-type: #7038f8;
$ghost-type: #705898;
$dark-type: #705848;
$steel-type: #b8b8d0;
$fairy-type: #ee99ac;
// pokeball colors
$redtop: #ee1515;
$redmid: #f00000;
$ballbutton: #222224;
$ballwhitemid: #f0f0f0;
$ballwhitebottom: #f0f0f0;
$button-bkgrnd: white;
//stats
$hp-bar: #06c392;
$attack-bar: #256eff;
$defense-bar: #ffd166;
