// ///////////
@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Dosis:400|Fredoka+One');
// font-family: 'Dosis', sans-serif;
// font-family: 'Fredoka One', cursive;

$corner-radius: 1rem;


div.row.main {
    border: solid $redtop;
    border-width: 0 1rem;
    background: $ballwhitemid;
}


body {
    background: #11998e;
    background: linear-gradient(to right, #11998e, #3DDC97);
    div.header {
        background-color: $redtop;
        margin-top: 2.5%;
        border-top-left-radius: $corner-radius;
        border-top-right-radius: $corner-radius;
        h1 {
            color: white;
            margin: 2%;
            font-family: 'Fredoka One', cursive;
            
        }
    }
    div.primary {
        background: $ballwhitebottom;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    div.secondary {
        background: #91B1C1;
        border: $redtop solid;
        border-width: 0 0 0 15px;
    }
    

    div.footer {
        background-color: $ballwhitemid;
        margin-bottom: 2.5%;
        border: solid $redtop;
        border-width: 1rem; 
        border-bottom-left-radius: $corner-radius;
        border-bottom-right-radius: $corner-radius;
    }
}

    .btn-outline-success {
        background: $button-bkgrnd;
    }



#pokemon-menu {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Dosis', sans-serif;
    letter-spacing: .1rem;

}

.statbar {
    background-color: lightgray;
    padding: 0;
    border-radius: $corner-radius;
    .statbar-stat {
        border-top-left-radius: $corner-radius;
        border-bottom-left-radius: $corner-radius;
        text-align: center;
    }
    #bar-attack {
        background-color: $attack-bar;
    }

    #bar-defense {
        background-color: $defense-bar;
    }

    #bar-hp {
        background-color: $hp-bar;
    }
}

.pokemon {
    .pokemon-front {
        background-color: #DAE5EA;
        border: 1px solid $ballbutton;
        padding: 15px;
        margin: 10px;
        width: 200px;
        border-radius: $corner-radius;
    }
    .poke-info {
        font-weight: bold;
    }
    .normal-type {
        background-color: $normal-type;
    }
    .fire-type {
        background-color: $fire-type;
    }
    .fighting-type {
        background-color: $fighting-type;
    }
    .water-type {
        background-color: $water-type;
    }
    .flying-type {
        background-color: $flying-type;
    }
    .grass-type {
        background-color: $grass-type;
    }
    .poison-type {
        background-color: $poison-type;
    }
    .electric-type {
        background-color: $electric-type;
    }
    .ground-type {
        background-color: $ground-type;
    }
    .psychic-type {
        background-color: $psychic-type;
    }
    .rock-type {
        background-color: $rock-type;
    }
    .ice-type {
        background-color: $ice-type;
    }
    .bug-type {
        background-color: $bug-type;
    }
    .dragon-type {
        background-color: $dragon-type;
    }
    .ghost-type {
        background-color: $ghost-type;
    }
    .dark-type {
        background-color: $dark-type;
    }
    .steel-type {
        background-color: $steel-type;
    }
    .fairy-type {
        background-color: $fairy-type;
    }
}